main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* Set the line-height and max-height to control the box size */
  line-height: 1.5em; /* Example line height */
  max-height: 3em; /* Example max height = line-height * number of lines */
  /* Ensure you have enough width or a set width for your container */
  width: 250px; /* Adjust based on your requirement */
}

.product-title {
  height: 3.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: normal; /* Prevent wrapping */
  display: -webkit-box; /* Set the display to be a box */
  -webkit-line-clamp: 2; /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
